<style>
   body{background-color: aqua;} 
  h1{color:yellowgreen; background-color: blue;} 
  h2{color:orangered; background-color: brown;}
  h3{color:rgb(43, 17, 69); background-color: blue;}
  p{color:rgb(191, 20, 20); background-color: yellow;}
  p{color:orangered; background-color: brown;}
  </style>