
table{border-style: double;}
th:nth-child(1)
  {
    background-color: aquamarine;
   }
   tr:nth-child(2)
   {
    background-color: rgb(161, 127, 255);
   }
   tr:nth-child(3)
   {
    background-color: rgb(255, 127, 232);
   }
   tr:nth-child(4)
   {
    background-color: rgb(255, 0, 0);
   }
   tr:nth-child(5)
   {
    background-color: rgb(255, 127, 127);
   }
   tr:nth-child(6)
   {
    background-color: blue;
   }
   td:nth-child(1)
   {
   background-color: chartreuse;
   }
   