/* styles.css */
body {
    background-color: lightblue;
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    border: 2px solid red;
    color:rgb(15, 0, 128);
    padding: 10px;
}

button {
    background-color: yellow;
    color: white;
}
